{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

{% endblock %}

{% block content %}
    <section id="department">

        <form action="{{ path('department-add') }}" method="post" class="col-sm-4">
            <div class="form-group ">
                <label for="department">Department name</label>
                <input type="text" class="form-control" id="department" name="department_name"/>
            </div>
            <div class="form-group">
                <label for="users">Choose users for department(hold ctrl for multiple select)</label>
                <select class="form-control" name="users[]" id="users" multiple>
                    {% for user in users %}
                    <option value="{{ user.getId }}">{{ user.getName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>

    </section>
{% endblock %}

{% block customScripts %}

{% endblock %}
