{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}
    <style>
        .weather-category ul{
            border:none;
        }
        #tasks{
            margin-top: 30px;
        }
        .progress.thin{
            position: relative;
        }
        .task-status-num{
            position: absolute;
            left: 42%;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="profile-content">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user"></i> Profile</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li class="active"><i class="fa fa-user"></i>Profile</li>
            </ol>
        </div>
        <!-- profile-widget -->
        {% include ('User/profileHeading.html.twig') %}
        {% include ('User/tasks.html.twig') %}
        <!-- page end-->
    </section>
{% endblock %}

{% block customScripts %}

{% endblock %}
