{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

{% endblock %}
{% block content %}
    <form action="post">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Article title"/>
        </div>

    </form>
{% endblock %}
{% block customScripts %}

{% endblock %}
