{% extends (':layout:master-blank.html.twig') %}
{% block body %}
   {{ include ('layout/menu.html.twig') }}
    <div id="page-wrapper">
                {% block content %}
                {% endblock %}
     </div>
{% endblock %}