{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

{% endblock %}
{% block content %}
    <section id="dashboard">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-code"></i> Code</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-code"></i><a href="{{ path('article-main') }}">Code</a></li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="col-md-12" id="code-container">
                <div class="col-md-4">
                    <h3>Css</h3>
                    <textarea class="code-css" id="code-css" rows="15" style="width: 100%"></textarea>
                </div>
                <div class="col-md-4">
                    <h3>HTML</h3>
                    <textarea class="code-html" id="code-html" rows="15" style="width: 100%"></textarea>
                </div>
                <div class="col-md-4">
                    <h3>JavaScript</h3>
                    <textarea class="code-js" id="code-js" rows="15" style="width: 100%"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button id="dugme">uradi</button>
            <iframe src="" frameborder="0" id="view">
                <div id="script"></div>
            </iframe>
        </div>
    </section>
{% endblock %}
{% block customScripts %}
    {% include('Code/scripts.html.twig') %}
    <script>
        $(document).ready(function(){
//            var css=  $('.code-css').ace({ theme: 'monokai', lang: 'css' });
//            var js=  $('.code-js').ace({ theme: 'monokai', lang: 'javascript' });
//            var html=  $('.code-html').ace({ theme: 'monokai', lang: 'html' });
        });
        view = $('#view');
        ace.require("ace/ext/language_tools");
        var editor = ace.edit("code-html");
        var css = ace.edit("code-css");
        var js = ace.edit("code-js");
        editor.getSession().setMode("ace/mode/html");
        css.getSession().setMode("ace/mode/css");
        js.getSession().setMode("ace/mode/javascript");
        editor.setTheme("ace/theme/monokai");
        css.setTheme("ace/theme/monokai");
        js.setTheme("ace/theme/monokai");

        editor.getSession().on('change', function () {
            view.contents().find('body').html(editor.getSession().getValue()+"<"+"script>"+js.getSession().getValue()+"</"+"script>");
        });

        css.getSession().on('change', function () {
            var bootstrap="<link rel='stylesheet' href='{{ asset('Base/css/bootstrap.min.css') }}'>";
            view.contents().find('head').html(bootstrap+"<style>"+css.getSession().getValue()+"</style>");
        });

        $('#dugme').on('click', function () {
            var jquery= "<script src='{{ asset('Base/js/jquery-2.1.3.js') }}'><"+"/script>";
            var fix= "var iframe = document.getElementById('view');
            var innerDoc = (iframe.contentDocument) ? iframe.contentDocument : iframe.contentWindow.document;

            });";
            view.contents().find('body').html(""+jquery+""+editor.getSession().getValue()+"<"+"script>"+js.getSession().getValue()+"</"+"script>");
        });

        //        ace.require("ace/ext/language_tools");
        //        var editor = ace.edit("code-html");
        //        var css = ace.edit("code-css");
        //        editor.setOption("minLines", 20);
        //        console.log(editor.getSession().getValue());
        //        console.log(css.getSession().getValue());
        //        // enable autocompletion and snippets
        //        editor.setOptions({
        //            enableBasicAutocompletion: true,
        //            enableSnippets: true,
        //            enableLiveAutocompletion: false,
        //            minLines: 20
        //        });
        //        editor.on('input', function() {
        //            var value= css.getSession().getValue();
        //            $('#iframe-body').html(value);
        //            console.log(editor.getSession().getValue());
        //        });
        //        css.on('input', function() {
        //            $('#iframe-head').html(css.getSession().getValue());
        //            $('#iframe-head').load();
        //            console.log(css.getSession().getValue());
        //        });
    </script>
{% endblock %}

