{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

{% endblock %}
{% block content %}
    <section id="dashboard">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-code"></i> Code</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-code"></i><a href="{{ path('article-main') }}">Code</a></li>
            </ol>
        </div>
        {% for code in codes %}
            {{ code.codeSnippetId }}
        {% endfor %}
    </section>
{% endblock %}
{% block customScripts %}


{% endblock %}

